---
http_interactions:
- request:
    method: get
    uri: https://my.talkpush.com/api/talkpush_services/campaign_invitations?api_key=48530ba23eef6b45ffbc95d7c20a60b9&api_secret=e2f724ba060f82ddf58923af494578a7&filter%5Bcampaign_id%5D=4274
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c410791841549a5b721632cad5c8a79"
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"current_page":1,"pages":1,"candidates":[{"state":"pending","campaign_id":4274,"campaign_ats_external_id":null,"id":944635,"candidate_id":15130,"first_name":"Ruel","last_name":"Nopal","campaign_title":"Ruby
        on Rails Campaign Test","email":"rakethost@gmail.com","user_phone_number":"2345678911","school_name":null,"education":null,"gender":null,"source":null,"scheduled_at":null,"created_at":"2020-05-12T08:51:58.487+08:00","links":[],"employment":[],"others":{},"labels":[],"answers":[],"photo":{"url":"https://my.talkpush.com/images/profilepic.png"}}]}'
  recorded_at: Tue, 12 May 2020 09:24:47 GMT
recorded_with: VCR 5.1.0
